:root{
    --tyrian-purple: #611c35ff;
--dark-slate-gray: #254441ff;
--cosmic-latte: #f9f5e3ff;
--zomp: #43aa8bff;

}
*{
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    
}
header{
    z-index: 4;
}
body{
    z-index: 4;
    background-image: url('./background.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-color: var(--cosmic-latte);
    color: var(--dark-slate-gray);
    max-width: 100%;
}
#backgroundimages{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    display:inline-block
}
#backgroundimages #image1{
    z-index: 1;
}
#backgroundimages #image2{
    z-index: 2;
}
#root{
    max-width: 100%;
}
@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0%;
    }
    100% {
        
        transform: translateX(0);
        opacity: 100%;
    }
  }
section{
    animation-name: slideInLeft;
    animation-duration: 1.8s;
}

#about_links i{
    font-size: 50px;
    display: flex;
    text-align: center;
    color: var(--prussian-blue);
    text-decoration: none;
}
@media screen and (min-width: 280px) {
    body{
        max-width: 100%;
        
    }
    section p{
        max-width: 100%;
    }
  }