:root{
    --rich-black: #031926ff;
    --teal: #468189ff;
    --cambridge-blue: #77aca2ff;
    --ash-gray: #9dbebbff;
    --parchment: #f4e9cdff;
}

#about_links {
    display:flex;
    flex-direction: row;
}
.aboutMe #patrick_img{
    margin: 15px;
    float: left;


}
#about_links a{
    margin:auto;
}
#about_links i{
    display: inline-block;
    color: var(--dark-slate-gray);
    background:none;
    text-decoration: none;
    margin: 10px;
    width: 20px;
}
.aboutMe> p{
    max-width: 80%;
    padding: 10px;
}
@media screen and (max-width: 660px) {
    
  }