:root{
    --tyrian-purple: #611c35ff;
    --dark-slate-gray: #254441ff;
    --cosmic-latte: #f9f5e3ff;
    --zomp: #43aa8bff;
}
footer{
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: hsla(49, 65%, 93%, .3);
    border-radius: .5em;
    backdrop-filter: blur(5px);
    max-width: fit-content;
    margin: auto;
    color: var(--tyrian-purple);
}
#footer_links i{
    font-size: 30px;
    margin:10px;
    margin-bottom: 0px;
    color: var(--tyrian-purple);
}
hr{
    min-width: 100%;
    font-size: 5px;
}