:root{
    --rich-black: #031926ff;
    --teal: #468189ff;
    --cambridge-blue: #77aca2ff;
    --ash-gray: #9dbebbff;
    --parchment: #f4e9cdff;
}
footer{
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: hsla(49, 65%, 93%, .3);
    border-radius: .5em;
    backdrop-filter: blur(5px);
    max-width: fit-content;
    margin: auto;
    color: var(--tyrian-purple);
}
#footer_links i{
    font-size: 30px;
    margin:10px;
    margin-bottom: 0px;
    color: var(--tyrian-purple);
}
hr{
    min-width: 100%;
    font-size: 5px;
}