footer{
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 10px
}
#footer_links i{
    font-size: 30px;
    margin:10px;
    margin-bottom: 0px;
    color: grey;
}
hr{
    min-width: 100%;
    font-size: 5px;
}