:root{
    --rich-black: #031926ff;
    --teal: #468189ff;
    --cambridge-blue: #77aca2ff;
    --wine: #6d3b47ff;
    --parchment: #f4e9cdff;
}
header {
    position: relative;
    top: -5px;
  display: flex;
  flex-direction: row;

  backdrop-filter: blur(5px);
}
hr{

    font-size: 5px;
}
header h1 {
 font-size: 40px;
 padding: 30px;
 color: var(--parchment);
margin-bottom: -40px;
}
header p{
    color: var(--wine);
}
@media screen and (max-width: 500px) {
    header{
    flex-direction: column;
    text-align: center;
    padding: 0;
    }
    header h1{
    margin-bottom: 0px;
    padding: 0;
    font-size: 30px;
    }
    header p{
        margin-top: 0px;
        font-size: 15px;
    }
    br{
        margin: 0;
    }
  }
