:root{
    --rich-black: #031926ff;
    --teal: #468189ff;
    --cambridge-blue: #77aca2ff;
    --ash-gray: #9dbebbff;
    --parchment: #f4e9cdff;
}

header{
    padding: 15px;
    display: flex;
}
ul{
    display: flex;
    text-align: center;
    flex-direction: row;
    padding-inline-start: 0;
}
.nav-item{
    color: black;
    list-style: none;
    font-size: 20px;
    margin: 5px;
    display:inline;

}
.nav-item button{
    background-color: var(--teal);
}
header p{
    color: maroon;
position: relative;
}
header h1{
color: var(--parchment)

}
.nav-link{
    background-color: hsla(174, 30%, 53%, .3);
    border: solid var(--dark-slate-gray);
    padding: 7px;
    border-radius: 5px;
}
.active{
    background-color: hsla(162, 43%, 46%, .3);
    color: var(--tyrian-purple)
}
@media screen and (max-width: 500px) {

    .nav-link{
        font-size: 13px;
        padding: 3px;
    }
    .active{
      padding: 3px;
    }
    header{
        flex-direction: column !important;
    }
  }
  @media screen and (min-width: 500px) {

    .nav-link{
        font-size: 13px;
        padding: 3px;
    }
    .active{
      padding: 3px;
    }
    header{
        flex: row !important;
    }
  }
  header{
    padding-bottom: 30px !important;
  }