:root{
    --tropical-indigo: #a682ffff;
    --medium-slate-blue: #715affff;
    --icterine: #f2f230ff;
    --maya-blue: #55c1ffff;
    --prussian-blue: #102e4aff;
}
.navbar {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
}
.navbar a {
    text-decoration: none;
}
ul{
    display: flex;
    text-align: center;
    flex-direction: row;
    padding-inline-start: 0;
}
.nav-item{
    color: black;
    list-style: none;
    font-size: 20px;
    margin: 5px;
    display:inline;
    
}
.nav-link{
    background-color: var(--tropical-indigo);
    padding: 7px;
    border-radius: 5px;
}
.active{
    background-color: var(--medium-slate-blue);
    color: var(--icterine);
}
@media screen and (max-width: 500px) {
    .navbar{
        text-align: center;
    }
    .nav-link{
        font-size: 13px;
        padding: 3px;
    }
    .active{
      padding: 3px;
    }
  }